.gameBox {
    border: 3px solid #FFFFFF;
    width: 605px;
    height: 605px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
}

.square {
    border: 2px solid #FFFFFF;
    width: 190px;
    height: 190px;
    float:inline-start;
    margin-left: 6px;
    margin-top: 6px;
}

.scoreDisplay {
    margin: 30px;
}

.playAgainButton {
    border-style: none;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(253, 83, 71);
}

h1 {
    font-size: 150px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(252, 252, 252);
    text-shadow: 3px 3px 3px #000000;
}

h2 {
    font-size: 48px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 0px;
    color: white;
}

h3 {
    font-size: 24px;
    font-family: sans-serif;
    color: white;
}

nav {
    height: 100px;
    margin: 10px;
    justify-content: center;
}

body {
    background-color: rgb(135, 197, 255)
}

button {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 30px;
    border-style: none;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(105, 190, 93);

}

.navBox {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.statusBar {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    justify-content: center;
}

.turnStatus{
    margin: 0px 0px 0px 0px;
}